/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.munsoc-image {
  background-image: url("/munsoc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mesua-image {
  background-image: url("/mesua.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pricerice-image {
  background-image: url("/pricerice.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
